.logo {
  width: 224px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.ant-menu {
  background-color: #f3f4f8;
}
.ant-input-group-wrapper {
  width: 200px;
}
